{% extends "base/base.html" %}

{% block body_block %}
<div class="jumbotron">
    <h1>Welcome home</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Libero ipsam qui deserunt quam ut
        omnis assumenda praesentium accusamus quod nam, harum hic illum vero. Quaerat inventore excepturi commodi.
    </p>
</div>

{% endblock %}