{% extends "base/base.html" %}

{% block body_block %}
<div class="jumbotron">
    <h1>Detail</h1>
</div>
<div>
    <h2 class="detail-title">{{ object.title|title }}</h2>
    <p class="detail-text">{{ object.text }}</p>
    <a class="btn btn-success" href="{{ instance.get_absolute_url }}update">Update</a>
    <a class="btn btn-danger" href="{{ instance.get_absolute_url }}delete">Delete</a>
    <br>
    <br>
    <div>
        <h3>Comments</h3>
        {% for comment in object.comments.all %}
        <h5 style="margin-left: 20px">{{comment.author}}</h5>
        <p style="margin-left: 30px">{{ comment.text }}</p>
        {% endfor %}
    </div>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</div>

{% endblock %}