{% extends "base/base.html" %}

{% block body_block %}
<div class="jumbotron">
    <h1>Create</h1>
</div>
<form action="." method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
{% endblock %}