{% extends "base/base.html" %}

{% block body_block %}
<div>
    <ol>
        {% for instance in object_list %}
        <li>
            <h2><a href="{{ instance.get_absolute_url }}{{instance.id}}">instance.id</a></h2>
            <p>{{ instance.text }}</p>

        </li>


        {% endfor %}
    </ol>
</div>

{% endblock %}
