{% extends "base/base.html" %}

{% block body_block %}
<div class="jumbotron">
    <h1>Create</h1>
</div>
<form action="." method="POST"> {% csrf_token %}
    <h1>Do you want to delete the post "{{object.title}}"?</h1>
    <p><input type="submit" value="Yes"/> <a href="../">Cancel</a> </p>
</form>


{% endblock %}